.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star-list-container {
  display: flex;
  align-items: center;
}

@keyframes enlarge {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.bounce {
  animation: enlarge 0.5s ease-out;
}