.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

.button:hover {
  transform: scale(1.2);
}

.img {
  width: 20px;
  height: auto;
}
